.center-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.center-form form {
  max-width: 500px;
  width: 300%;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
  text-align: center;
}

/* Add margin and padding to Form.Group */
.center-form form .form-group {
  margin-bottom: 20px;
}

/* Add padding to Form.Control (input fields) */
.center-form form .form-control {
  margin-bottom: 15px;
  padding: 15px; /* Adjust this value for desired padding */
  font-size: 15px; /* Optional: Increase font size */
  border-radius: 30px; /* Add rounded corners */
  border: 5px solid hsl(0, 0%, 93%);
}

.center-form form button {
  margin-top: 20px; /* Space between last input field and button */
}
